#main-head{
    background-size: cover;
    height: calc(100vh - 54px);
    background-image: url('https://i.pinimg.com/originals/eb/ee/35/ebee35529a0a5d72a7174bf773148607.jpg');
}
.page-section{
    padding: 6rem 0;
}
.section-heading{
    margin-bottom: 1rem;
    font-weight: bold;
}
.section-subheading{
    margin-bottom: 4rem;
}